<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books for you</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- add here any script needed to run -->
    <script src="../static/js/books_logic.js"></script>

</head>

<body>
    <header>
        <h1>Books for you!</h1p>
    </header>
    
    <!-- Text at the start of the website -->
    <div class="explanatory-text">
        <h2 id="Subtitle">
            Pick a book:
        </h2>
        <h3>
            Please select one of the books below and we will give you some recommendations of other books you might like. 
        </h3>
    </div>

    <!-- Books to choose from -->   
    <div class="bookBox">              
        <div class="coverWrapper" id="bookCover1">
            <img alt="Miss Marple" title="" width="180" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltip">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>      
        <div class="coverWrapper" id="bookCover2">
            <img alt="Miss Marple" title="" width="180" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltip">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
        <div class="coverWrapper" id="bookCover3">
            <img alt="Miss Marple" title="" width="180" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltip">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
        <div class="coverWrapper" id="bookCover4">
            <img alt="Miss Marple" title="" width="180" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltip">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
        <div class="coverWrapper" id="bookCover5">
            <img alt="Miss Marple" title="" width="180" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltip">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
    </div>

    <!-- Popup with book recommendations -->
    <div class="popup" id="bookPopup">
        <span class="close-button" onclick="closePopup()">&times;</span>
        <h2>Book Recommendation</h2>
        <p>Here are some of the books we think you might like.</p>
        <div class="recommendationWrapper" id="recommendation1">
            <img alt="Miss Marple" title="" width="150" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltipRec">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
        <div class="recommendationWrapper" id="recommendation2">
            <img alt="Miss Marple" title="" width="150" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltipRec">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
        <div class="recommendationWrapper" id="recommendation3">
            <img alt="Miss Marple" title="" width="150" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltipRec">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
        <div class="recommendationWrapper" id="recommendation4">
            <img alt="Miss Marple" title="" width="150" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltipRec">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
        <div class="recommendationWrapper" id="recommendation5">
            <img alt="Miss Marple" title="" width="150" class="bookImage" src="http://books.google.com/books/content?id=a96qPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
            <div class="tooltipRec">
                <span class="title-label">Title: </span><span class="title"></span><br>
                <span class="author-label">Author: </span><span class="author"></span>
            </div>
        </div>  
    </div>

    <!-- Overlay -->
    <div class="overlay" id="overlay" onclick="closePopup()"></div>

    <br><br>

    <!-- "Show me more" button  -->   
    <div class="more-button">
        <button id="more">Show me other books</button>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; UoB data analysis bootcamp 2024</p>
    </footer>
</body>

</html>
